.container{
    display:grid;
    width:100dvw;
    background-color: #eeeff1;
    background-color:yellow;
    grid-template-columns: min(25%,300px) 1fr;
    grid-template-rows: 1fr 4fr;
    height:100dvh;
}
.header{
    box-sizing:border-box;
    grid-column:2/3;
    grid-row:1/2;
    background-color:rgb(255,255,255);
    box-shadow: 5px 3px 3px gray;
    z-index:1;
    display:grid;
    grid-template-columns:13fr 7fr;
    grid-template-rows:8fr 12fr;

}
.searchBox{
    grid-column:1/2;
    grid-row:1/2;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:clamp(20px, 2dvw, 30px)
}
.searchButton{
    height:3dvh;
    width:3dvw;
    border-style:none;
    background-color:white;
}
.searchButton img{
    height:100%;
}
.searchBar{
    height:4dvh;
    width:70%;
    padding:0px;
}
#searchItem{
    width:100%;
    padding:0px;
    height:100%;
    padding-left:10px;
    box-sizing:border-box;
    border-radius: 10px;
    background-color:#e2e8f0;
    border-style:none;
}
.greetingBox{
    grid-column:1/2;
    grid-row:2/3;
    display:flex;
    justify-content: center;
    align-items:center;
    gap:clamp(30px,3dvw,60px);
}
.profilePicture{
    height:8dvh;
    aspect-ratio:1;
    fill:yellow;
    stroke-width:4;
    stroke:black;
}
.greetingInnerBox{
    width:60%;
    height:8dvh;
    display:flex;
    flex-direction:column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.greetingHi{
    font-size:clamp(10px,2dvh,30px);
}
.greetingUsername{
    font-size:clamp(20px,3.5dvh,50px);
    flex:1
}
.profileBox{
    grid-column:2/3;
    grid-row:1/2;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profileBox > .notifications >img{
    height:5dvh;
}
.notifications{
    background-color:white;
    border-style: none;
    height:100%
}
.profileBox>.profilePicture{
    height:6dvh
}
.profileBox>.username{
    font-size:4dvh;
}
.interactButtonBox{
    grid-column:2/3;
    grid-row:2/3;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.newButton, .shareButton, .uploadButton{
    width:30%;
    height:50%;
    background-color:#1992d4;
    color:white;
    font-size:3dvh;
    flex:0;
    padding:0px 20px;
    border-radius:25px;
    border-style: none;
}
.sidebar{
    grid-column:1/2;
    grid-row:1/3;
    background-color:#1992d4;
    z-index:1;
    display:flex;
    flex-direction:column;
    padding-top:30px;
    padding-left:20px;
    color:white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dashboard{
    display:flex;
    height:40px;
    gap:10px;
}
.dashboardPicture{
    fill:white;
    height:100%;
    width:auto
}
.dashboardTitle{
    font-size:30px;
    height:100%;
    font-weight:bold;
}
.firstList, .secondList{
    display:flex;
    flex-direction:column;
    height:auto;
    gap:20px;
    justify-content:flex-start;
    padding-top:50px;
}
.firstList >button{
    background-color:rgba(255,255,255,0);
    color:white;
    font-size:3dvh;
    border-style:none;
    font-weight:bold;
}
.secondList >button{
    background-color:rgba(255,255,255,0);
    color:white;
    font-size:3dvh;
    border-style:none;
    font-weight:bold;
}
.mainContent{
    grid-column:2/3;
    grid-row:2/3;
    background-color:#e2e8f0;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows:1fr 1fr;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.projectsBox{
    grid-row:1/3;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
}
.projectsBoxTitle{
    font-size:3dvh;
    font-weight:bold;
}
.projectCardHolder{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex:1;
    gap:20px;
}
.projectCard{
    background-color:white;
    display:grid;
    grid-template-rows:5fr 2fr;
    grid-template-columns:20px 1fr;
    border-radius:20px;
    box-shadow: 1px 1px 2px 1px gray;
}
.projectOrange{
    grid-row:1/3;
    background-color:orange;
    border-radius:30px 0px 0px 30px;
}
.projectTextBox{
    display:flex;
    flex-direction:column;
    padding-left:20px;
    padding-top:20px;
}
.projectCardHeader{
    font-size:20px;
    font-weight:bold;
}
.projectCardContents{
    font-size:20px
}
.projectCardButtons{
    display:flex;
    flex-direction:row-reverse;
    box-sizing:border-box;
    padding:0px 10px;
}
.projectCardButtons>button{
    background-color:rgba(255,255,255,0);
    border-style:none;
    height:100%;
    aspect-ratio:1;
}
.projectCardButtons>button:hover{
    text-decoration: underline;
}
.announcementsBox{
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:20px
}
.announcementsBoxTitle{
    font-size:3dvh;
    font-weight:bold;
}
.announcementsCard{
    flex:1;
    background-color:white;
    display:grid;
    grid-template-rows:1fr 1fr 1fr;
    padding:20px 15px;
    border-radius:20px;
    box-shadow: 1px 1px 2px 1px gray;
}
.announcementsTextBox:last-child{
    border-bottom-style:none;
}
.announcementsTextBox{
    display:flex;
    flex-direction:column;
    border-bottom:gray solid 2px;
    gap:5px;
    padding-top:5px;
}
.announcementsTitle{
    font-size:15px;
    font-weight:bold
}
.announcementsDescription{
    font-size:10px
}
.trendingBox{
    background-color: lime;

}

